@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@300&display=swap');

:root {
  --white: #fff;
  --light: #F4F7FA;
  --dark: #000;
  --dark-light: #33333383;
}

body{
  background-color: var(--light); 
}

.navbar {
  border-bottom: 1px solid var(--dark-light);
}
.navbar a{
  color: var(--dark);
}

.navbar{
  color: var(--dark) !important;
  background-color: var(--white);
}

.navbar div {
  min-width: 200px;
}

.right {
  text-align: right;
}

.container-fluid, .cont {

  
  padding: 30px;
  text-align: center;
  align-items: center;
  color: black;
  justify-content: center;
  /* Alinha horizontalmente (opcional) */
}

.align-middle{
  min-height: 100%;
}

#perfil {

  border-radius: 100%;
  border: 1px solid var(--dark-light);
  width: 500px;
  height: 500px;
}

p {
  font-size: 14pt;
}




.nav-item {
  text-align: center;
}

.footer {
  background-color: black;
}

.flex {
  flex: content;
  flex-wrap: wrap;
  flex-direction: row;
}

#div-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#inicio {

  background-repeat: no-repeat;
  background-size: cover;
  /* Cobre toda a div mantendo a proporção */
  background-position: center;
  /* Centraliza a imagem */
  width: 100%;
  /* Garante que a div ocupe toda a largura */

}

#sobre {
  padding: 20px;
  background-color: var(--light);
}

#sobre p{
    padding-left: 60px;
}



ol>li>a {
  text-decoration: none;
  font-size: 18pt;
}


h1 {
  font-family: 'Courier New', monospace;
}

a {
  font-family: 'Courier', monospace;
}

a:hover {
  color: #bd53c4;
  text-decoration: none;
}

.carousel-item {
  width: 80%;
}


#inicio h1,
h1 {
  font-size: 3rem;
  margin: 10px 0;
}

#inicio h3 {
  font-weight: 300;
  color: #bd53c4;
}

#inicio p {
  margin-top: 20px;
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  margin: 15px 10px 0;
  padding: 10px 20px;
  background-color: #bd53c4;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #bd53c4;
}

.btn-secundario {
  background-color: transparent;
  border: 2px solid #bd53c4;
  color: #bd53c4;
}

.btn-secundario:hover {
  background-color: #bd53c4;
  color: #000;
}

.footer {
  background-color: #111;
  color: white;
  padding: 40px 20px;
}

.footer h1 {
  margin-bottom: 30px;
  color: #bd53c4;
  ;
}

.lista-contato {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}

.lista-contato li {
  margin: 15px 0;
}

.lista-contato li a, .lista-contato li a i {
  color: white !important;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}


.lista-contato i {
  margin-right: 8px;
}

/*projetos----------------*/

.text-center{
  text-align: center;
}

#projetos {
  background-color: var(--white);
  padding: 10px;
}



.container-fluid {
  grid-area: main;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  /* permite que os itens quebrem para a linha de baixo */
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.site {
  background-color: #fff;
  width: 300px;
  height: 450px;
  border: 1px solid var(--dark-light);
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16pt;
}

.card-p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
}

.img {

  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.siteimg {
  height: 200px;
}



@media(max-width: 1520px) {
  #sobre {
    padding: 10px;
  }
}

#sweet {
  color: #bd53c4;
}




.experiencia .exp-card,
.cursos .curso-card,
.habilidades .hab-grupo,
.atividades .ativ-lista {
    margin-top: 20px;
}

.exp-card, .curso-lista, .ativ-lista {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    border-left: 5px solid #000;
}

.exp-card h3 {
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background: #000;
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}
